<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include Spring Boot's default configurations -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Variable for the log pattern -->
    <!-- %clr for color, %-5level for padded level, %15.15t for truncated thread name -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%-5level) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--
        Log level configuration.
        You can also use <springProfile> tags to set different levels
        for dev, prod, etc.
    -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.huddey" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO"/>

</configuration>